@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: white;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
    letter-spacing: 4px;
    color: #252525;

}

#logo {
    float: left;
    font-size: 150%;
    color: #5b8030;
    margin-left: 30px;
    text-transform: lowercase;

}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    float: right;


}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #8bc34a;
    background-color: #8bc34a;
}

.active {
    border-bottom: 1px solid #8bc34a;

}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;

    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(139, 195, 74, .7);

    top: 150px;
    right: 500px;

    position: absolute;

}

#cover-text h2,
h3 {
    color: fafafa;

}



#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image1.jpg) no-repeat center left;


    /* animates zoom on loading page */

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;

}

/* creates level of zoom for hero animation */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}


/* welcome section */

#welcome-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;

    letter-spacing: 4px;
    text-align: center;

    width: 50%;
    height: 400px;

    margin-left: auto;
    margin-right: auto;


    padding-top: 40px;
    padding-left: 10px;

    background-color: none;

    position: relative;



    border: 2px solid #8bc34a;
    border-radius: 20px;


}

#welcome-text h3,
h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#review-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;

    letter-spacing: 4px;
    text-align: center;

    width: 50%;
    height: 100px;

    margin-left: auto;
    margin-right: auto;


    padding-top: 40px;
    padding-left: 10px;

    background-color: none;

    position: relative;



    border: 2px solid #8bc34a;
    border-radius: 20px;


}

#review-text h3 {
    font-style: italic;
}

#welcome-text h3,
h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* snapshot section */

#snapshot_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    
    text-align: center;
    background-color: yellow;
    
}
   


/* .snapshot { */
    
    /* float: left; */
    /* width: 50%; */
    /* height: 300px; */
    /* display: inline-block; */
    
    /* padding-top: 30px;

    text-align: center; */
    
   
/* } */

/* snapshot images */

.snapshot > img {
    /* display: inline; */
    border-radius: 20px;
    text-align: center;
    /* margin: 1px 1px 1px 1px; */
    
    /* height: 75%;
    width: 75%; */

 
}



/* footer */

footer {
    display: flex;

    height: 150px;

}

#address-block > h1 {
    color: blue;
}


#address-block {
    
    width: 20%;
        padding-top: 1%;}
    /* float: left;
    margin: 1%;
    padding: 5%;
    text-align: left;
    font: #5b8030;  */
    /* background-color: purple; */

#footer_logo {
    color: #5b8030;

}
 
    
    
    



.social-networks {
    width: 80%;
    text-align: center;
    background-color: blueviolet;
    
}

.social-networks > li {
    display: inline;
    padding-top: 5%;
    background-color: red;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}