@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: white;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
    /* letter-spacing: 4px; */
    color: #252525;

}

#logo {
    float: left;
    font-size: 150%;
    color: #5b8030;
    margin-left: 30px;
    text-transform: lowercase;

}

/* navigation links */

#menu {
    font-size: 100%;
    /* letter-spacing: 4px; */
    float: right;


}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #8bc34a;
    background-color: #8bc34a;
}

.active {
    border-bottom: 1px solid #8bc34a;

}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;

    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(139, 195, 74, .7);

    top: 150px;
    right: 500px;

    position: absolute;

}

#cover-text h2,
h3 {
    color: fafafa;

}



#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image1.jpg) no-repeat center left;


    /* animates zoom on loading page */

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;

}

/* creates level of zoom for hero animation */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}


/* welcome section */
/* flexbox?*/
/* #welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* flexbox end */
#welcome-text,
#review-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;

    /* letter-spacing: 4px; */
    text-align: center;

    width: 50%;
    height: 400px;

    margin-left: auto;
    margin-right: auto;


    padding-top: 40px;
    padding-left: 10px;

    background-color: none;

    position: relative;



    border: 2px;
    border-radius: 20px;


}

#welcome-text h3,
h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}


#review-text {
    /* font-size: 100%;
    font-family: Poppins, sans-serif;

    letter-spacing: 4px;
    text-align: center;

    width: 50%;
    height: 100px;

    margin-left: auto;
    margin-right: auto;


    padding-top: 40px;
    padding-left: 10px;

    background-color: none;

    position: relative;
 */


    border: 2px;
    border-radius: 20px;


}

#review-text h3 {
    font-style: italic;
}

#welcome-text h3,
h4 {
    padding-top: 40px;
    padding-bottom: 20px;
}



/* snapshot section */

#snapshot_section {
    display: flex;
    flex-direction: row;
   
    justify-content: center;

    text-align: center;
    /* padding-bottom: 25px; */


}
.snapshot {
    margin: 4%;

}

/* snapshot images */

.snapshot>img {border-radius: 20px;text-align: center;max-width: 100%;height: auto;}

/* footer */

footer {
    display: flex;
    /* flex-direction: column; */

    height: 150px;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 10px;


}




#address-block {

    width: 20%;
    padding-top: 15px;
}


#address-block>a {
    text-decoration: none;
}

#footer_logo {
    color: #5b8030;

}


/*social media icons*/

.social-networks {
    width: 80%;
    text-align: center;


}

.social-networks>li {
    display: inline;
    padding-top: 5%;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* About page*/
/* About Us section */


#about-us-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bakery-image {
    height: 600px;
    width: 100%;
    background: url(../images/bakery.jpg) no-repeat center left;
}


/* About Sourdough section*/

#sourdough-image {
    height: 600px;
    width: 100%;
    background: url(../images/sourdough.jpg) no-repeat center center;
}

#about-sourdough-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

article a {
    text-decoration: none;
}


.about-text {

    width: 75%;
    font-size: 100%;
    font-family: Poppins, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 10px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;

}

.about-text h2,
h3,
h4 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#our_bakes h3 {
    color: #5b8030;
}

#our-bakes-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#loaves-image {
    height: 600px;
    width: 100%;
    background: url(../images/loaves.jpg) no-repeat center left;
}

#contact-us-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#dough-image {
    height: 600px;
    width: 100%;
    background: url(../images/dough.jpg) no-repeat center left;
}


/* Our Bakes page */

#our_bread_text {
    text-align: center;
    margin: 1%;
    padding: 1%;

}

.our_bakes1>img {

    border-radius: 20px;
    text-align: center;
    /* padding: 3%; */

}

.our_products {
    display: flex;
    flex-direction: row;

}

.our_products2 {
    display: flex;
    flex-direction: row;

}

.our_bakes1 {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    /* clear: both; */
    width: 33%;

}

.our_bakes2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    /* clear: both; */
    width: 33%;

}

.our_bakes2>img {

    border-radius: 20px;
    text-align: center;
    /* padding: 3%; */
    size: 100%;

}

/* Form */

.form-section {
    clear: left;
    /* background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg"); */
    /* background-size: cover;*/
    background-position: center;
    height: 900px;
}
.contact_us_form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(139, 195, 74, .7);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact_us_form > h2 {
    color: #5b8030;
    margin-bottom: 20px;
    
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;

    border: 1px solid #fafafa;
    border-radius: 2px;
    
    
    
}

.text-input:hover {
    border-color: #f16c6b;
    
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
    
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

@media screen and (max-width: 1200px)	
{	
    /* #welcome {	
    padding: 30px 0;  	
    } */	
    #snapshot_section {	
        display: flex;	
        flex-direction: column;	
    }	
    .snapshot>img {	
        width: 50%;	
        height: 50%;	
    }	
} 


    

