@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: white;
}

/* headings and logo */

h1,
h2 {
    font-family: Poppins, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    color: #252525;

}

#logo {
    float: left;
    font-size: 150%;
    color:#8bc34a;
    margin-left: 30px;
    

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    

}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #8bc34a;
    background-color: #8bc34a;
}

.active {
    border-bottom: 1px solid #8bc34a;


}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: fafafa;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image1.jpg) no-repeat center left;


/* animates zoom on loading page */

animation-name: hero-zoom;
animation-duration: 10s;
animation-fill-mode: forwards;

}

/* creates level of zoom for hero animation */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(139, 195, 74);

    bottom: 100px;
    right: 150px;

    position: absolute;
}

/* welcome section */

#welcome-text {
    height: 300px;
    width: 300px;
    border-style: none;
    text-align: center;
    
}





/* snapshot section */
#snapshot {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}